<main>
  <div class="panel panel-default">
  <div class="panel-heading">Appointments</div>
    <div class="panel-body">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Purpose</th>
          <th>Date</th>
          <th>Time</th>
          <th>Customer</th>
        </tr>
      </thead>

      <tbody>
          <% @appointments.order(:appointment_date).each do |appointment| %>
            <% if appointment.employee_id == @employee.id && appointment.confirmation%>
              <tr>
                <td><%= appointment.purpose %></td>
                <td><%= appointment.appointment_date %></td>
                <td><%= appointment.appointment_time %></td>
                <td><%= appointment.customer.first_name %>  <%= appointment.customer.last_name %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <%= link_to "Main page", root_path %>
  </div>
</div>
</main>


