<div class="panel panel-default">
  <div class="panel-heading">Employee <%= first_name?(@employee) %> <%= last_name?(@employee) %></div>
  <div class="panel-body">
  <b>First name:</b> <%= first_name?(@employee) %> </br>
  <b>To:</b> <%= last_name?(@employee) %> </br>
  <b>E-mail:</b> <%= @user.email %> </br>
  <b>Telephone number:</b> <%= @employee.telephone_number %> </br>
  <b>Position:</b> <%= @employee.position %> </br>
  <%= link_to 'Back', admin_user_user_list_path(@admin) %>
  </div>
</div>