<main class="center">
	<% if !user_signed_in? %>
		<%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %>
		<%= link_to 'Registration', new_user_registration_path, class: "btn btn-primary" %>
	<% end %>
	<% if user_signed_in? %>
		<% if @user.try(:customer) && @user.customer? %>
			<%= link_to 'Edit profile', customers_path, class: "btn btn-primary" %>
			<%= link_to 'Search employee', customer_search_path(@customer), class: "btn btn-primary"%>
			<%= link_to 'View yours appointments', appointments_path, class: "btn btn-primary"%>
		<% elsif @user.customer? %>
			<%= link_to 'Finish profile', customers_path, class: "btn btn-primary" %>
		<% end %>
		<% if @user.try(:employee) && @user.employee? %>
			<%= link_to 'Edit profile', employees_path, class: "btn btn-primary" %>
			<%= link_to 'Working hours', employee_working_hours_path(@employee), class: "btn btn-primary" %>
			<%= link_to 'Your appointments',employee_appointment_path(@employee), class: "btn btn-primary" %>
		<% elsif @user.employee? %>
			<%= link_to 'Finish profile', employees_path, class: "btn btn-primary" %>
		<% end %>
		<% if @user.try(:secretary) && @user.secretary? %>
			<%= link_to 'Edit profile', secretaries_path, class: "btn btn-primary" %>
			<%= link_to 'Waiting appointments', secretary_appointments_path(@secretary, form: "Waiting"), class: "btn btn-primary" %>
			<%= link_to 'Confirmed appointments', secretary_appointments_path(@secretary, form: "Confirmed"), class: "btn btn-primary" %>
		<% elsif @user.secretary? %>
			<%= link_to 'Finish profile', secretaries_path, class: "btn btn-primary" %>
		<% end %>
		<%= link_to 'Edit account', edit_user_registration_path, class: "btn btn-primary" %>
		<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
	<% end %>
</main>