<main>
  <div class="panel panel-default">
  <div class="panel-heading"><%= @status %> appointments</div>
    <div class="panel-body">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Purpose</th>
          <th>Date</th>
          <th>Time</th>
          <th>Employee</th>
          <th>Customer</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
          <% @appointments.order(:appointment_date).each do |appointment| %>
            <% if appointment.confirmation == wait_or_confirmed?(@status) %>
              <tr>
                <td><%= appointment.purpose %></td>
                <td><%= appointment.appointment_date %></td>
                <td><%= appointment.appointment_time %></td>
                <td><%= Employee.find(appointment.employee_id).first_name %>  <%= Employee.find(appointment.employee_id).last_name %></td>
                <td><%= Customer.find(appointment.customer_id).first_name %>  <%= Customer.find(appointment.customer_id).last_name %></td>
                <td><%= link_to 'Show', appointment_path(appointment), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <%= link_to "Main page", root_path %>
  </div>
</div>
</main>


