<main class="center">
  <% if @user.try(:secretary) && @user.secretary? %>
    <%= link_to 'Edit profile', edit_secretary_path(@secretary), class: "btn btn-primary" %>
    <%= link_to 'Waiting appointments', secretary_appointments_path(@secretary, status: "Waiting"), class: "btn btn-primary" %>
    <%= link_to 'Confirmed appointments', secretary_appointments_path(@secretary, status: "Confirmed"), class: "btn btn-primary" %>
  <% elsif @user.secretary? %>
    <%= link_to 'Finish profile', new_secretary_path, class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Edit account', edit_user_registration_path, class: "btn btn-primary" %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
</main>