<main>
  <div class="panel panel-default">
  <div class="panel-heading">Working hours</div>
    <div class="panel-body">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Purpose</th>
          <th>Extra</th>
          <th>Date</th>
          <th>Time</th>
          <th>Employee</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
          <% @appointments.order(:appointmentDate).each do |appointment| %>
            <tr>
              <td><%= appointment.purpose %></td>
              <td><%= appointment.extra %></td>
              <td><%= appointment.appointmentDate %></td>
              <td><%= appointment.appointmentTime %></td>
              <td><%= Employee.find(appointment.employee_id).first_name %>  <%= Employee.find(appointment.employee_id).last_name %></td>

              <td><%= link_to 'Edit',edit_employee_appointment_path(appointment.employee_id, appointment), class: "btn btn-primary" %></td>
              <td><%= link_to "Destroy", appointment_path(appointment), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <%= link_to 'New appointment', customer_search_path(@customer), class: "btn btn-primary" %>
  </div>
  <div class="panel-footer">
    <%= link_to "Main page", root_path %>
  </div>
</div>
</main>


