<main>	
	<div class="row">
		<div class="column left">
			<div class="panel panel-default">
				<div class="panel-heading">Make appointment <%= @hours %></div>

				<%= render 'form', path: "new", method: "post" %>

				<div class="panel-footer"><%= link_to 'Back', customer_search_path(@customer) %></div>
			</div>
		</div>
		<div class="column right">
			<main>
			  	<div class="panel panel-default">
			  	<div class="panel-heading">Working hours</div>
				  	<div class="panel-body">

				    <table class="table table-hover table-condensed">
				      <thead>
				        <tr>
				          <th>Day</th>
				          <th>Open</th>
				          <th>Close</th>
				        </tr>
				      </thead>

				      <tbody>
				          <% unless @employee.working_hours.blank? %>
				          <% @employee.working_hours.order(:lp).each do |hour| %>
				            <tr>
				              <td><%= hour.day.capitalize %></td>
				              <td><%= hour.start_hour %></td>
				              <td><%= hour.end_hour %></td>
				            </tr>
				          <% end %>
				        <% end %>
				      </tbody>
				    </table>
				  </div>
				</div>
			</main>
		</div>
	</div>
</main>